html {
  font-family: 'Rajdhani', sans-serif;
  color: white;
  background-image: url("../graphic/dark_wall.png");
}
body {
  margin: 0 auto;
}
header {
  background-color: black;
  background-image: url(../graphic/band-img2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10vh;
}
header li {
  font-size: 30px;
  padding-left: 10px;
  text-transform: uppercase;
}
a {
  color: #E1F7FF;
  text-shadow: 4px 4px 16px #1F2629;
}
a:hover {
  color: #E1F7FF;
  text-shadow: -4px -4px 16px #72D5FF;
}
i {
  margin-right: 30px;
}
h1 {
  text-align: right;
  text-shadow: 2px 2px 4px #1F2629;
}
section {
  height: 50vh;
}
footer {
  color: white;
  background-color: #111F25;
}
ul {
  margin: 0 auto;
}
li {
  list-style: none;
}
small {
  display: flex;
  justify-content: center;
}

.header-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.list-no-style {
  padding-left: 0;
  list-style: none;
}
.list-no-style li a {
  text-decoration: none;
  font-weight: bold;
}
.container-margin {
  padding-left: 10%;
  padding-right: 10%;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.image-size {
  width: 90%;
}
.image-rounded {
  border-radius: 5%;
}
.half-size {
  width: 50%;
}
.logo-size {
  width: 100px;
}
.white-bg {
  background-color: white;
}
.padding-sm {
  height: 25vh;
}
.black-font {
  color: black;
}
.min-size-s {
  min-width: 300px;
}
.min-size-m {
  min-width: 300px;
}
.min-size-l {
  min-width: 300px;
}
@media screen and (max-width: 800px) {
  .flex-container {
    margin-top: 1%;
  }
  .half-size {
    width: 100%;
  }
}
