/*---------------------------------------------
                    GENERAL
---------------------------------------------*/html {
  font-family: 'Open sans', sans-serif;
  color: white;
  background-image: url("../graphic/tweed.png");
  font-size: 18px;
}
body {
  margin: inherit;
}
.menu {
  width: 100%;
  position: fixed;
  background-image: url("../graphic/dark_wall.png");
  margin-bottom: 100px;
}
label {
  margin-left: 10px;
}
a {
  color: white;
  text-decoration: none;
}
i {
  margin-right: 30px;
}
/*---------------------------------------------
                    TITRES
---------------------------------------------*/
h1, h2, h3, h4, h5 {
  font-family: 'Special Elite', cursive;
  text-shadow: 2px 2px 4px #1F2629;
}
h1 {
  text-align: left;
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
/*---------------------------------------------
                    MENUS
---------------------------------------------*/
.hidden{
  display: none !important;
}
li {
  list-style: none;
}
.menu-button {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  justify-content: flex-end;
  background-image: url("../graphic/tweed.png");
  color: white;
  box-shadow: 2px 2px 4px black;
}
.iconCstom {
  width: 50px;
  height: 50px;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../graphic/tweed.png");
  font-family: 'Special Elite';
  font-size: 35px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px black;
  box-shadow: 2px 2px 4px black;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.logo-lang {
    width: 50px;
    border-radius: 25%;
    box-shadow: 1px 1px 2px white;
  }
}
small {
  display: flex;
  justify-content: center;
}
section {
  padding-top: 20px;
}
.header-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.list-no-style {
  padding-left: 0;
  list-style: none;
}
.container-margin {
  padding-left: 5%;
  padding-right: 5%;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.image-size {
  width: 90%;
}
.image-rounded {
  border-radius: 5%;
}
.half-size {
  width: 50%;
}
.logo-50 {
  width: 50px;
}
.logo-100 {
  width: 100px;
}
.logo-150 {
  width: 150px;
}
.white-bg {
  background-image: url("../graphic/tweed.png");
}
.align-items {
  align-items: center;
}
.black-font {
  color: black;
}
.min-size-s {
  min-width: 300px;
}
.half-height {
  height: 50%;
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }

  .big-section {
    height: 150;
  }

  .half-size {
    width: 100%;
  }
  p {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }
}
