html {
  font-family: 'Rajdhani', sans-serif;
  color: white;
  background-image: url("../graphic/dark_wall.png");
  font-size: 18px;
}
body {
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  margin-bottom: 10vh;
}
header li {
  font-size: 30px;
  padding-left: 10px;
  text-transform: uppercase;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-shadow: 1px 1px 1px white;
}
i {
  margin-right: 30px;
}
h1 {
  margin-right: 20%;
  text-align: right;
  text-shadow: 2px 2px 4px #1F2629;
}
.quizz_japon {
  font-family: 'Sigmar One', cursive;
}
.red_o {
  color: #B92124;
}
section {
  height: 100vh;
}
footer {
  color: white;
  background-color: #111F25;
}
ul {
  margin: 0 auto;
}
li {
  list-style: none;
}
small {
  display: flex;
  justify-content: center;
}

.header-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.list-no-style {
  padding-left: 0;
  list-style: none;
}
.list-no-style li a {
  text-decoration: none;
  font-weight: bold;
}
.container-margin {
  padding-left: 5%;
  padding-right: 5%;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.image-size {
  width: 90%;
}
.image-rounded {
  border-radius: 5%;
}
.half-size {
  width: 50%;
}
.logo-50 {
  width: 50px;
}
.logo-100 {
  width: 100px;
}
.logo-150 {
  width: 150px;
}
.logo-lang {
  width: 100px;
  border-radius: 25%;
  box-shadow: 1px 1px 4px white;
}
.white-bg {
  background-color: white;
}
.align-items {
  align-items: center;
}
.black-font {
  color: black;
}
.min-size-s {
  min-width: 300px;
}
.half-height {
  height: 50%;
}
@media screen and (max-width: 800px) {
  header {
    background-image: url(../graphic/band-img2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 150px;
    display: flex;
  }
  .big-section {
    height: 150vh;
  }
  .flex-container {
    margin-top: 1%;
  }
  .half-size {
    width: 100%;
  }
}
