<form action="form_adress" method="POST">
  <label for="nb">Nb</label>
  <input id="nb" type="number" value="" name="nb"><br>
  <label for="street_type">Street_type</label>
  <input id="street_type" type="text" value="" name="street_type"><br>
  <label for="street_name">Street_name</label>
  <input id="street_name" type="text" value="" name="street_name"><br>
  <label for="postal_code">Postal_code</label>
  <input id="postal_code" type="number" value="" name="postal_code"><br>
  <label for="city">City</label>
  <input id="city" type="text" value="" name="city"><br>
  <input name="submit" type="submit">
</form>
