<header class="flex-container">
  <h1>Germain Pinganaud<br>
  Web Dev</h1>
    <ul>
      <li><a href="#">
        <img id="fr" class="logo-lang" src="graphic/france.png" alt="html">
        <label for="fr">Français</label>
      </li></a>
      <li><a href="#">
        <img id="en" class="logo-lang" src="graphic/english.png" alt="html">
        <label for="en">English</label>
      </li></a>
      <li><a href="#">
        <img id="jp" class="logo-lang" src="graphic/japan.png" alt="html">
        <label for="jp">日本語</label>
      </li></a>
      <li><a href="#">
        <img id="cn" class="logo-lang" src="graphic/china.png" alt="html">
        <label for="cn">中文</label>
      </li></a>
    </ul>
    <div class="">
      <ul>
        <a href="https://www.facebook.com/john.spartaksound" target="_blank"><li class="iconCustom">f</li></a>
        <a href="https://www.linkedin.com/in/germain-pinganaud-610445115/" target="_blank"><li class="iconCustom">in</li></a>
        <a href="mailto:contact@germainpinganaud.fr"><li class="iconCustom">@</li></a>
      </ul>
    </div>
</header>
