

    <!-- Le bouton reset est fixé en haut a gauche
    il va nous permettre de vider le localStorage
    et donc, de debugger le bordel-->
    <button class="resetButton" data-action="reset">Reset</button>

    <!-- Cette section contient les options
      elle s'affiche par défaut-->
    <section data-state="optionScreen" class="gameScreen hidden">

      <!-- Titres -->
      <h2>Super mega unamed game</h2>
      <h3>Settings</h3>

      <!-- X -->
      <div><label for="x">Nombre de cases sur l'axe "x"</label>
      <input id="x" type="number" name="x" value="3" max="10"></div>

      <!-- Y -->
      <div><label for="y">Nombre de cases sur l'axe "y"</label>
      <input id="y" type="number" name="y" value="3" max="10"></div>

      <!-- StartGame -->
      <button data-action="startGame" type="button" name="button">Start game</button>
    </section> <!-- optionScreen -->

    <!-- Cette section contient l'affichage du jeu
    elle s'affiche que le joueur clique sur le bouton Start Game-->
    <section data-state="playScreen" class="gameScreen hidden"></section>
    <section data-state="victory" class="gameScreen hidden">Level complete !</section>
    <section data-state="defeat" class="gameScreen hidden">Game over !</section>
