<section>
  <div class="flex-container flex-wrap half-height">
    <div>
      <img class="logo-lang" src="graphic/france.png" alt="html">
    </div>
    <div>
      <img class="logo-lang" src="graphic/english.png" alt="html">
    </div>
    <div>
      <img class="logo-lang" src="graphic/japan.png" alt="html">
    </div>
    <div>
      <img class="logo-lang" src="graphic/china.png" alt="html">
    </div>
    <h2>Je parle couramment anglais, japonais et j'ai des bases de chinois mandarin.</h2>
  </div>
</section>
