<header id="menu-bar" class="flex-container flex-wrap menu hidden">
  <div>
  <h1>Germain Pinganaud<br>
  Web Dev</h1>
  </div>
  <ul class="flex-row nearButton">
    <li><a href="/locale.php?value=fr">
      <img id="fr" class="logo-lang" src="graphic/france.png" alt="html">
      <label for="fr"></label>
    </li></a>
    <li><a href="/locale.php?value=en">
      <img id="en" class="logo-lang" src="graphic/english.png" alt="html">
      <label for="en"></label>
    </li></a>
    <li><a href="/locale.php?value=jp">
      <img id="jp" class="logo-lang" src="graphic/japan.png" alt="html">
      <label for="jp"></label>
    </li></a>
    <li><a href="/locale.php?value=cn">
      <img id="cn" class="logo-lang" src="graphic/china.png" alt="html">
      <label for="cn"></label>
    </li></a>
  </ul>
  <div>
    <ul class="flex-row nearButton">

      <a href="https://www.facebook.com/john.spartaksound" target="_blank">
        <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
      </a>

      <a href="https://www.linkedin.com/in/germain-pinganaud-610445115/" target="_blank">
        <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
      </a>

      <a href="mailto:contact@germainpinganaud.fr">
        <i class="fa fa-envelope fa-3x" aria-hidden="true"></i>
      </a>
    </ul>
  </div>
</header>
