<section class="flex-container flex-wrap container-margin big-section">
  <div class="half-size min-size-s flex-container">
    <img class="image-size image-rounded" src="graphic/profil-bw-lg.jpg" alt="Une image">
  </div>
  <div class="half-size">
    <h2>自分のバックグラウンド</h2>
    <p>私は33歳、趣味は音楽やアジアの文学やコディング。パリで宣伝デザインを一年間勉強して、アビニョンで美術をまた一年間勉強しました。そして19歳のころ、イギリスのボーンマスへ行ってホテルで食器洗いなどの仕事しました。あそこに二年間で言葉や責任感を学びました。2007年から2011年まで、東京森タワーのレストランでバイトする上で、日本語私立学校で勉強することができました。帰国した後、プライベートティーチャとして日本語を教えていてデベロッパーウェブに是非なると思います。</p>
  </div>
</section>

<section class="flex-container flex-wrap-reverse container-margin big-section">
  <div class="half-size">
    <h2 class"black-font">&lt;!-- コディングは新しい趣味--></h2>
    <p>芸術家、再訓練の世界者でおり、Webプログラミングを一生懸命勉強します。IT-Akademyのデベロッパーウェブと携帯技術を入学する前にCodecademy.comでHTML5とCSS3の基本を習いましたがそこから上級復習、そしてbash, javascript, jQuery, AJAX, PhP, GIT, mySQL, UX, responsive, mobile firstも発見しました。</p>
  </div>
  <div class="half-size min-size-s flex-container">
    <img class="image-size image-rounded" src="graphic/hachiko.jpg" alt="Une image">
  </div>
</section>
