<section class="flex-container flex-wrap container-margin big-section">
  <div class="half-size min-size-s flex-container">
    <img class="image-size image-rounded" src="graphic/profil-bw-lg.jpg" alt="Une image">
  </div>
  <div class="half-size">
    <h2>Mon background</h2>
    <p>J’ai 33 ans j’aime la musique, les cultures asiatiques et le code. J’ai étudié le dessin publicitaire une année à Paris et les arts décoratifs une annnée en Avignon. Je suis parti à Bournemouth à 19 ans, j’ai fait la plonge dans un hôtel familial et y suis rester deux ans, j’y ai appris l’anglais et le sens des responsabilités. De 2007 à 2011, je travaillais dans un restaurant à Tokyo pour payer mes études dans une école privée. De retour en France, je donne des cours du soir en japonais et j’ai trouvé ma voie dans le développement web.</p>
  </div>
</section>

<section class="flex-container flex-wrap-reverse container-margin big-section">
  <div class="half-size">
    <h2 class"black-font">&lt;!--Le code, une nouvelle passion--></h2>
    <p>Artiste, globe trotter en reconversion professionnelle, je me consacre corps et âme au développement web. J'ai abordé les languages HTML5 et CSS3 sur Codecademy avant d'intégrer la formation développer web et mobile d'IT-Akademy. J'y étudie alors ces deux languages à un niveau supérieur et y découvre le bash, javascript, jQuery, AJAX, PhP, GIT, mySQL, UX, responsive, mobile first.</p>
  </div>
  <div class="half-size min-size-s flex-container">
    <img class="image-size image-rounded" src="graphic/hachiko.jpg" alt="Une image">
  </div>
</section>
